Checks: >
  *,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  cert*,
  misc-include-cleaner-*,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-runtime-references,
  -readability-magic-numbers,
  -llvmlibc-*,
  -fuchsia*,
  -altera*,
  -llvm-namespace-comment,
  -hicpp-uppercase-literal-suffix,
  -readability-uppercase-literal-suffix,
  -llvm-include-order,
  -modernize-use-trailing-return-type,
  -google-readability-todo,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-explicit-constructor,
  -hicpp-explicit-conversions,
  -hicpp-special-member-functions,
  -cppcoreguidelines-special-member-functions,
  -hicpp-signed-bitwise,
  -misc-non-private-member-variables-in-classes,
  -clang-tidy cppcoreguidelines-owning-m,
  -cppcoreguidelines-owning-memory,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -hicpp-no-array-decay,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -readability-redundant-access-specifiers
